@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  min-height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Obviously Demo-CompressedSuper", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Obviously Demo-CompressedSuper";
  src: local("Obviously Demo-CompressedSuper");
}
/* @FONTWARNING[{"type": "restricted", "family": "Freesentation-5Medium", "weight": "500", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Freesentation-5Medium";
  src: local("Freesentation-5Medium");
}
/* @FONTWARNING[{"type": "restricted", "family": "Freesentation-2ExtraLight", "weight": "200", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Freesentation-2ExtraLight";
  src: local("Freesentation-2ExtraLight");
}
/* @FONTWARNING[{"type": "restricted", "family": "Freesentation-ExtraLight", "weight": "200", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Freesentation-ExtraLight";
  src: local("Freesentation-ExtraLight");
}
